{% extends "base.html" %}
{% load static %}


{% block title %}
    About
{% endblock %}

{% block content %}

    <h1 class="text-center">About</h1>
    <p class="text-center text-dark">Remzi Tepe</p>
    <div class="col align-items-center justify-content-center">
        <div class="row align-items-center justify-content-center">
            <li>
                <a href="https://www.linkedin.com/in/remzi-tepe-381383173/" class="text-center text-dark">LinkedIn Profile</a>        
            </li>
        </div>
        <div class="row align-items-center justify-content-center">
            <li>
                <a href="https://github.com/remzitepe" class="text-center text-dark">Github Profile</a> 
            </li>
        </div>
    </div>

{% endblock %}