{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Stackoverflow Searches
{% endblock %}

{% block content %}
<ul>
    <li><a href="stackoverflow_details">Stackoverflow Search Details</a></li>

</ul>
<h1 class="text-center"> Search for Candidates at Stackoverflow</h1>
<div class="row align-items-center justify-content-center">
    <div class="row">
        <form method="post">
            {% csrf_token %}
              <div class="col align-center">
                {{ form.keyword| as_crispy_field }}
              </div>
              <div class="col align-self-center">
                {{ form.candidate_num | as_crispy_field }}
              </div>
              <div class="col align-self-center">
                <button type="submit" class="btn btn-success" >Search for Candidates</button>
              </div>
            <p> After searching for candidates and page loading please click on Stackoverflow Search Details*</p>
    </div>
</div>

{% endblock %}